:root {
  --color1: #0466C8;
  --color2: #0353A4;
  --color3: #023E7D;
  --color4: #002855;
  --color5: #001845;
  --color6: #001233;
  --color7: #33415C;
  --color8: #5C677D;
  --color9: #7d8597;
  --color10: #979DAC;
  --colorFondo: #f3f3f3;
  --colorFondo2: #bedeff;

  --fuente1: 'Montserrat', sans-serif;
  --fuente2: 'Noto Sans Balinese', sans-serif;
}
